# Nick Kralevich <nnk@google.com> : Allow loading files with text relocations from /system

# Adapted from shamu
allow mm-qcamerad system_data_file:sock_file unlink;
allow mm-qcamerad sensors_socket:sock_file read;

allow mm-qcamerad system_data_file:dir { write remove_name add_name };

allow mm-qcamerad camera_data_file:dir r_dir_perms;
allow mm-qcamerad mpctl_socket:dir search;
unix_socket_connect(mm-qcamerad, mpctl, perfd)
